body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#login {
  height: 400px;
  width: 350px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

button {
  border: none;
  background-color: orange;
  border-radius: 5px;
  width: 60px;
  height: 40px;
}