#box {
    border: 3px solid darkcyan;
    width: 70vw;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

#one {
    width: 100px;
    height: 100px;
    background-color: red;
}
#two {
    width: 100px;
    height: 100px;
    background-color: cyan;
}
#three {
    width: 100px;
    height: 100px;
    background-color: darkmagenta;
}
#four {
    width: 100px;
    height: 100px;
    background-color: green;
}
